[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"


[packages]

"boto3" = "*"
pytest = "*"
awscli = "*"
pytest-cov = "*"
funcsigs = "*"
"flake8" = "*"
"flake8-quotes" = "*"
"flake8-print" = "*"
"flake8-isort" = "*"
